* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(200, 200, 200);
}

img {
    width: 40rem;
    max-width: 80%;
    border-radius: 1em;
}

.modal-wrapper {
    position: fixed;
    width: 100vw;
    height: 100%;
    max-width: 100%;

    background: rgba(0, 0, 0, .3);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity .3s ease;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 1em 2em;
    width: 10em;
    margin-top: 1em;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}